        {% extends 'layouts/base.html' %}
        {% block content %}
            <div id="breadcrumb" class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="breadcrumb-tree">
                                <li><a href="/">Головна</a></li>
                                <li><a href="/home/feedback">Зворотній зв'язок</a></li>
                                <li class="active">index</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="content_section" class="section">
                <div class="container">
                    <div class="row text-center">
                        <!-- ======================================== -->
                            <h3>Контент сторінки про зворотнього зв'язку</h3>
                        <!-- ======================================== -->
                    </div>
                </div>
		    </div>
        {% endblock content %}