        {% load static %}
        <footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-4 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Про нас</h3>
								<ul class="footer-links">
									<li><a href="#"><i class="fa fa-map-marker"></i>м.Київ</a></li>
									<li><a href="#"><i class="fa fa-phone"></i>+38(093) 979-84-28</a></li>
									<li><a href="#"><i class="fa fa-envelope-o"></i>skyrit999@gmail.com</a></li>
								</ul>
							</div>
						</div>

<!--						<div class="col-md-3 col-xs-6">-->
<!--							<div class="footer">-->
<!--								<h3 class="footer-title">Categories</h3>-->
<!--								<ul class="footer-links">-->
<!--									<li><a href="#">Hot deals</a></li>-->
<!--									<li><a href="#">Laptops</a></li>-->
<!--									<li><a href="#">Smartphones</a></li>-->
<!--									<li><a href="#">Cameras</a></li>-->
<!--									<li><a href="#">Accessories</a></li>-->
<!--								</ul>-->
<!--							</div>-->
<!--						</div>-->

						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Інформація</h3>
								<ul class="footer-links">
									<li><a href="/home/about">Про нас</a></li>
									<li><a href="/home/contacts">Контакти</a></li>
									<li><a href="/home/policy">Політика безпеки</a></li>
									<li><a href="/home/feedback">Зворотній зв'язок</a></li>
									<li><a href="#">Повернення товару</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Сервіси</h3>
								<ul class="footer-links">
									<li><a href="#">Відгуки</a></li>
									<li><a href="#">FAQ</a></li>
									<li><a href="#">Допомога</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
								<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
								<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
							</ul>
							<span class="copyright">
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">kelse</a>
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>