        {% load static %}
        <header>
			<div id="top-header">
				<div class="container">
					<ul class="header-links pull-left">
						<li><a href="#"><i class="fa fa-language"></i>UA</a></li>
                        <li><a href="#"><i class="fa fa-dollar"></i>UAH</a></li>
					</ul>
					<ul class="header-links pull-right">
                        {% if user.is_authenticated %}
                            <li><a href="/accounts/profile"><i class="fa fa-user-o"></i>Особистий кабінет</a></li>
                            <li><a href="/accounts/sign_out"><i class="fa fa-sign-out"></i>Вихід</a></li>
                        {% else %}
                            <li><a href="/accounts/sign_in"><i class="fa fa-user-o"></i>Вхід</a></li>
                            <li><a href="/accounts/sign_up"><i class="fa fa-sign-in"></i>Реєстрація</a></li>
                        {% endif %}
					</ul>
				</div>
			</div>

			<div id="header">
				<div class="container">
					<div class="row">
						<!-- LOGO -->
						<div class="col-md-3">
							<div class="header-logo">
								<a href="/" class="logo">
									<img src="{% static 'img/logo.png' %}" alt="">
                                    <span style="color: whitesmoke; font-size: 13pt">FurTar</span>
								</a>
							</div>
						</div>
						<!-- /LOGO -->

						<div class="col-md-6">
							<div class="header-search">
								<form>
									<input class="input" placeholder="Почніть вводити для пошуку">
									<button class="search-btn">Пошук</button>
								</form>
							</div>
						</div>

						<div class="col-md-3 clearfix">
							<div class="header-ctn">
								<div id="wishlist">
									<a href="#">
										<i class="fa fa-heart-o"></i>
										<span>Обране</span>
										<div id="wish_count" class="qty">0</div>
									</a>
								</div>

								<div id="cart" class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
										<i class="fa fa-shopping-cart"></i>
										<span>Кошик</span>
										<div id="cart_count" class="qty">0</div>
									</a>
									<div class="cart-dropdown">
										<div class="cart-list">
											<div class="product-widget">
												<div class="product-img">
													<img src="{% static 'img/product01.png' %}" alt="">
												</div>
												<div class="product-body">
													<h3 class="product-name"><a href="#">product name goes here</a></h3>
													<h4 class="product-price"><span class="qty">1x</span>$980.00</h4>
												</div>
												<button class="delete"><i class="fa fa-close"></i></button>
											</div>

										</div>
										<div class="cart-summary">
											<h4>Товарів обрано: 0</h4>
											<h5>Загальна вартість: 0 грн.</h5>
										</div>
										<div class="cart-btns">
											<a href="#">Переглянути кошик</a>
											<a href="#">Замовлення  <i class="fa fa-arrow-circle-right"></i></a>
										</div>
									</div>
								</div>

								<!-- Menu Toogle -->
								<div class="menu-toggle">
									<a href="#">
										<i class="fa fa-bars"></i>
										<span>Меню</span>
									</a>
								</div>
								<!-- /Menu Toogle -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>