        {% load static %}
        <nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav">
						<li class="active"><a href="#">Головна</a></li>
						<li><a href="#">Про сайт</a></li>
						<li><a href="#">Каталог</a></li>
						<li><a href="#">Новини</a></li>
						<li><a href="#">Контакти</a></li>
					</ul>
					<ul class="main-nav nav navbar-nav navbar-right">
						<li><a href="#">Гість</a></li>
						<li><a href="#"><i class="fa fa-user-o"></i> Особистий кабінет</a></li>
					</ul>
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>